# General files (e.g. from MacOS or development environment)
.DS_Store
.vscode

# Environment files
.env*
!.env.TEMPLATE
*.local
*.development
!Dockerfile.development

# Python files
Pipfile*
__pycache__
**/docs/site


# Vue (node) files
node_modules
dist
dist-ssr

