# General files (e.g. from MacOS or development environment)
.DS_Store
.vscode

# Environment files
.env*
!.env.TEMPLATE
*.local
*.development
!Dockerfile.development

# Python files
Pipfile*
__pycache__
**/docs/site
**/docs/docs/CHANGELOG.md

# Vue (node) files
node_modules
dist
dist-ssr

# Yarn files
api/app/package.json
api/app/yarn.lock
